.Navbar {
  width: 100%;
  background-color: #c3b9b9;
  /* margin: 0; */
  height: 6vh;
  padding: 0.3rem 0;
  /* box-sizing: border-box; */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.search-button {
  background-color: #b39494;
  border: none;
  color: white;
  padding: 7px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.Navbar-Search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.Pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
