#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.read-the-docs {
  color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 41px;
}

.dashboard-container {
  display: flex;
  width: 100%;
  max-width: 1500px;
  gap: 10px;
  margin: 0 auto;
}

.dashboard-left,
.dashboard-right {
  flex: 1;
}

.dashboard-right {
  flex: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 15px 20px;
  gap: 5px;
}

.AddWidgetBtn,
.UncheckWidgetBtn {
  background-color: #b39494;
  border: none;
  color: white;
  padding: 7px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100px;
  margin-right: 0;
}
.UncheckWidgetBtn {
  float: right;
  margin-right: 10px;
  margin-top: 12px;
}
